/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/partials/_utilities.sass */
.group:after {
  display: block;
  content: ".";
  height: 0px;
  clear: both;
  visibility: hidden;
}

/* line 1, ../sass/partials/_body.sass */
body {
  background: #383445;
}

/* line 1, ../sass/partials/_typography.sass */
body {
  color: #383445;
  font-family: "Helvetica Neue", Helvetica, Arial, "Sans Serif";
  font-size: 1em;
  line-height: 1.5em;
}

/* line 7, ../sass/partials/_typography.sass */
h1 {
  font-size: 1.5em;
  font-family: "Gill Sans", "Helvetica Neue", Helvetica, Arial, "Sans Serif";
  margin: 1.25rem 0;
}

/* line 12, ../sass/partials/_typography.sass */
h2 {
  margin: 2.5rem 0 1.25rem;
  font-size: 1.25em;
  font-family: "Gill Sans", "Helvetica Neue", Helvetica, Arial, "Sans Serif";
  text-align: center;
}

/* line 18, ../sass/partials/_typography.sass */
p {
  margin: 0 0 1.25rem 0;
  line-height: 1.5em;
}

/* line 1, ../sass/partials/_link.sass */
a:link {
  color: #746f88;
  text-decoration: none;
}

/* line 5, ../sass/partials/_link.sass */
a:visited {
  color: #746f88;
}

/* line 8, ../sass/partials/_link.sass */
a:hover {
  color: #8c8254;
}

/* line 11, ../sass/partials/_link.sass */
a:active {
  color: #463f61;
}

/* line 14, ../sass/partials/_link.sass */
.link-button, .header-navigation-menu, .banner-action a, .index-block-action a {
  box-sizing: border-box;
  padding: 0.625rem 1.25rem;
  color: #383445;
  border: 1px solid #383445;
  border-radius: 0.25em;
}

/* line 21, ../sass/partials/_link.sass */
.link-button:hover, .header-navigation-menu:hover, .banner-action a:hover, .index-block-action a:hover {
  color: #fff9e2;
  background: #746f88;
  border: 1px solid #8c8254;
}

/* line 26, ../sass/partials/_link.sass */
a {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

/* line 1, ../sass/partials/_form.sass */
.form-input {
  margin: 0 0 1.25rem 0;
}

/* line 4, ../sass/partials/_form.sass */
input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=date],
input[type=time],
input[type=datetime] {
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, "Sans Serif";
  padding: 0.625rem;
  background: white;
  border: 1px solid #383445;
  border-radius: 0.25em;
}

/* line 21, ../sass/partials/_form.sass */
input[type=file] {
  display: block;
  margin: 1.25rem 0;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, "Sans Serif";
}

/* line 28, ../sass/partials/_form.sass */
input[type=submit] {
  box-sizing: border-box;
  margin: 0 0 1.25rem 0;
  padding: 0.625rem 1.25rem;
  width: 100%;
  font-size: 1em;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, "Sans Serif";
  color: #8c8254;
  background: #e2dfd4;
  border: 1px solid #8c8254;
  border-radius: 0.25em;
}
@media screen and (min-width: 42rem) {
  /* line 28, ../sass/partials/_form.sass */
  input[type=submit] {
    width: auto;
    float: left;
  }
}

/* line 44, ../sass/partials/_form.sass */
input[type=submit]:hover {
  color: #fff9e2;
  background: #8c8254;
  border: 1px solid #fff9e2;
}

/* line 49, ../sass/partials/_form.sass */
input[type=submit]:active {
  color: #fff9e2;
  background: #746f88;
  border: 1px solid #fff9e2;
}

/* line 54, ../sass/partials/_form.sass */
select {
  -webkit-appearance: none;
  box-sizing: border-box;
  width: 100%;
  padding: 0.625rem;
  color: #463f61;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, "Sans Serif";
  background: white;
  border: 1px solid #383445;
  border-radius: 0.25em;
}

/* line 66, ../sass/partials/_form.sass */
.form-link-cancel {
  text-align: right;
}
@media screen and (min-width: 42rem) {
  /* line 66, ../sass/partials/_form.sass */
  .form-link-cancel {
    float: left;
    margin: 1px 1.25rem;
    padding: 0.625rem 1.25rem;
    line-height: 1em;
  }
}

/* line 74, ../sass/partials/_form.sass */
.form-link-delete {
  margin: 3.75rem 0 0 0;
  padding: 1.25rem 0 0 0;
  text-align: center;
  border-top: 1px solid #c5c0a9;
}

/* line 80, ../sass/partials/_form.sass */
form img {
  width: 100%;
  height: auto;
}

/* line 84, ../sass/partials/_form.sass */
.form-success {
  padding: 0.625rem 1.25rem 0.625rem 3.125rem;
  background: #e2dfd4 url(//meditate.dev/assets/img/icons/icon_success.png) no-repeat 1.25rem 0.75rem;
  background-size: 1.25rem 1.25rem;
  border: 1px solid #383445;
  border-radius: 0.25em;
}

/* line 91, ../sass/partials/_form.sass */
.form-error {
  padding: 0.625rem 1.25rem 0.625rem 3.125rem;
  background: #d0cfd7 url(//meditate.dev/assets/img/icons/icon_error.png) no-repeat 1.25rem 0.75rem;
  background-size: 1.25rem 1.25rem;
  border-radius: 0.25em;
}

/* line 97, ../sass/partials/_form.sass */
.form-input-error {
  display: block;
  padding: 0.625rem 1.25rem;
  background: #d0cfd7;
  border-radius: 0.25em;
}

/* line 1, ../sass/modules/_site-header.sass */
.site-header {
  padding: 1px 0 1px 0;
  background: #383445;
}

/* line 5, ../sass/modules/_site-header.sass */
.site-header-inner {
  position: relative;
  padding: 1.25rem;
}
@media screen and (min-width: 74.5rem) {
  /* line 5, ../sass/modules/_site-header.sass */
  .site-header-inner {
    width: 72rem;
    margin: 0 auto;
  }
}

/* line 1, ../sass/modules/_logo.sass */
.logo {
  position: relative;
  padding-left: 2.625rem;
  color: #d0cfd7;
  font-size: 1.25em;
  line-height: 1em;
  text-transform: uppercase;
}

/* line 9, ../sass/modules/_logo.sass */
.logo img {
  position: absolute;
  top: -0.5rem;
  left: 0;
  width: 2rem;
  height: 2rem;
}

/* line 1, ../sass/modules/_header-navigation.sass */
.header-navigation {
  line-height: 1em;
}

/* line 4, ../sass/modules/_header-navigation.sass */
.header-navigation h1,
.header-navigation p {
  margin: 0;
}

/* line 8, ../sass/modules/_header-navigation.sass */
.header-navigation-anon {
  position: absolute;
  top: 0.625rem;
  right: 1.25rem;
}

/* line 13, ../sass/modules/_header-navigation.sass */
.header-navigation-anon li {
  float: left;
  margin-left: 0.625rem;
}

/* line 17, ../sass/modules/_header-navigation.sass */
.header-navigation-anon li a {
  float: left;
}

/* line 20, ../sass/modules/_header-navigation.sass */
.header-navigation a:link,
.header-navigation a:visited {
  color: #d0cfd7;
}

/* line 24, ../sass/modules/_header-navigation.sass */
.header-navigation a:hover {
  color: #746f88;
}

/* line 27, ../sass/modules/_header-navigation.sass */
.header-navigation-login {
  display: none;
  padding: 0.625rem 1.25rem;
}
@media screen and (min-width: 30rem) {
  /* line 27, ../sass/modules/_header-navigation.sass */
  .header-navigation-login {
    display: block;
  }
}

/* line 33, ../sass/modules/_header-navigation.sass */
.header-navigation-signup {
  display: none;
}
@media screen and (min-width: 30rem) {
  /* line 33, ../sass/modules/_header-navigation.sass */
  .header-navigation-signup {
    display: block;
  }
}

@media screen and (min-width: 30rem) {
  /* line 38, ../sass/modules/_header-navigation.sass */
  .header-navigation-anonmenu {
    display: none;
  }
}

/* line 42, ../sass/modules/_header-navigation.sass */
.header-navigation-signup a,
.header-navigation-anonmenu a,
.header-navigation-menu {
  box-sizing: border-box;
  padding: 0.625rem 1.25rem;
  background: #e2dfd4;
  border: 1px solid #e2dfd4;
}

/* line 50, ../sass/modules/_header-navigation.sass */
.header-navigation-signup a:link,
.header-navigation-signup a:visited,
.header-navigation-anonmenu a:link,
.header-navigation-anonmenu a:visited,
a.header-navigation-menu:link,
a.header-navigation-menu:visited {
  color: #383445;
  border-radius: 0.25em;
}

/* line 59, ../sass/modules/_header-navigation.sass */
.header-navigation-signup a:hover,
.header-navigation-anonmenu a:hover,
a.header-navigation-menu:hover {
  color: #e2dfd4;
  background: #746f88;
}

/* line 66, ../sass/modules/_header-navigation.sass */
.header-navigation-menu {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
}

/* line 1, ../sass/modules/_banner.sass */
.banner {
  position: relative;
  padding: 0;
  text-align: center;
  background: #e2dfd4;
}

/* line 7, ../sass/modules/_banner.sass */
.banner-inner {
  position: relative;
  padding: 5rem 0;
}
@media screen and (min-width: 69.5rem) {
  /* line 7, ../sass/modules/_banner.sass */
  .banner-inner {
    margin: 0 auto;
    width: 72rem;
  }
}

/* line 14, ../sass/modules/_banner.sass */
.banner-image {
  position: relative;
  margin: 3.75rem 0;
}
@media screen and (min-width: 66rem) {
  /* line 14, ../sass/modules/_banner.sass */
  .banner-image {
    position: absolute;
    left: 5rem;
    top: 5rem;
    margin: 0;
  }
}

/* line 24, ../sass/modules/_banner.sass */
.banner-content h2 {
  margin: 0 1.25rem 1.25rem;
  font-size: 1.125em;
  line-height: 1.5em;
}
@media screen and (min-width: 18rem) {
  /* line 24, ../sass/modules/_banner.sass */
  .banner-content h2 {
    font-size: 1.25em;
  }
}
@media screen and (min-width: 24rem) {
  /* line 24, ../sass/modules/_banner.sass */
  .banner-content h2 {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 30rem) {
  /* line 24, ../sass/modules/_banner.sass */
  .banner-content h2 {
    font-size: 1.75em;
  }
}
@media screen and (min-width: 36rem) {
  /* line 24, ../sass/modules/_banner.sass */
  .banner-content h2 {
    font-size: 1.75em;
  }
}
@media screen and (min-width: 42rem) {
  /* line 24, ../sass/modules/_banner.sass */
  .banner-content h2 {
    font-size: 2em;
  }
}
@media screen and (min-width: 48rem) {
  /* line 24, ../sass/modules/_banner.sass */
  .banner-content h2 {
    font-size: 2.25em;
  }
}

/* line 42, ../sass/modules/_banner.sass */
.banner-content p {
  margin: 1.25rem 1.25rem 3.75rem;
  font-size: 1.125em;
}

/* line 46, ../sass/modules/_banner.sass */
.banner .banner-action {
  display: inline-block;
  margin: 0;
}

/* line 1, ../sass/modules/_index-block.sass */
.index-block {
  padding: 5rem 1.25rem;
  background: #eeeeee;
  border-top: 4px solid white;
}
@media screen and (min-width: 54rem) {
  /* line 1, ../sass/modules/_index-block.sass */
  .index-block {
    padding: 5rem 2.5rem;
  }
}
@media screen and (min-width: 77rem) {
  /* line 1, ../sass/modules/_index-block.sass */
  .index-block {
    width: 72rem;
    margin: 0 auto;
    border: 4px solid white;
    border-bottom: none;
  }
}

@media screen and (min-width: 77rem) {
  /* line 13, ../sass/modules/_index-block.sass */
  .index-block-inner {
    width: 72rem;
    margin: 0 auto;
  }
}

/* line 18, ../sass/modules/_index-block.sass */
.index-block h2 {
  position: relative;
  z-index: 100;
  margin: 0 0 5rem 0;
  font-size: 2.25em;
  line-height: 0;
  text-align: center;
}

/* line 26, ../sass/modules/_index-block.sass */
.index-block h2 span {
  display: inline-block;
  padding: 1.875rem 2.5rem;
  background: #e2dfd4;
  border: 2px solid #8c8254;
  border-radius: 0.25em;
}

/* line 33, ../sass/modules/_index-block.sass */
.index-block h2:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  z-index: -10;
  width: 100%;
  height: 2px;
  background: #8c8254;
}

/* line 43, ../sass/modules/_index-block.sass */
.index-block-subsection {
  clear: both;
  width: 100%;
}
@media screen and (min-width: 36rem) {
  /* line 43, ../sass/modules/_index-block.sass */
  .index-block-subsection {
    float: left;
  }
}

@media screen and (min-width: 36rem) {
  /* line 49, ../sass/modules/_index-block.sass */
  .index-block-subsection + .index-block-subsection {
    margin-bottom: 2.5rem;
  }
}

/* line 53, ../sass/modules/_index-block.sass */
.index-block-subsection p {
  margin: 0 0 2.5rem 0;
}
@media screen and (min-width: 36rem) {
  /* line 53, ../sass/modules/_index-block.sass */
  .index-block-subsection p {
    box-sizing: border-box;
    padding: 1.25rem 0 0 0.625rem;
    font-size: 1.25em;
  }
}
@media screen and (min-width: 54rem) {
  /* line 53, ../sass/modules/_index-block.sass */
  .index-block-subsection p {
    padding: 1.25rem 0 0 1.25rem;
    font-size: 1.5em;
  }
}

@media screen and (min-width: 36rem) {
  /* line 63, ../sass/modules/_index-block.sass */
  .index-block-subsection + .index-block-subsection p {
    padding: 1.25rem 0.625rem 0 0;
  }
}
@media screen and (min-width: 54rem) {
  /* line 63, ../sass/modules/_index-block.sass */
  .index-block-subsection + .index-block-subsection p {
    padding: 1.25rem 1.25rem 0 0;
  }
}

/* line 69, ../sass/modules/_index-block.sass */
.index-block-subsection-image {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin: 0 0 2.5rem 0;
  padding: 0;
  line-height: 0;
}
@media screen and (min-width: 36rem) {
  /* line 69, ../sass/modules/_index-block.sass */
  .index-block-subsection-image {
    float: left;
    width: 50%;
    margin-right: 0.625rem;
  }
}
@media screen and (min-width: 54rem) {
  /* line 69, ../sass/modules/_index-block.sass */
  .index-block-subsection-image {
    margin-right: 1.25rem;
  }
}

/* line 83, ../sass/modules/_index-block.sass */
.index-block-subsection-image-inner {
  border: 2px solid #8c8254;
}
@media screen and (min-width: 36rem) {
  /* line 83, ../sass/modules/_index-block.sass */
  .index-block-subsection-image-inner {
    margin-right: 0.625rem;
  }
}
@media screen and (min-width: 54rem) {
  /* line 83, ../sass/modules/_index-block.sass */
  .index-block-subsection-image-inner {
    margin-right: 1.25rem;
  }
}

/* line 90, ../sass/modules/_index-block.sass */
.index-block-subsection-image img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  line-height: 0;
}

@media screen and (min-width: 36rem) {
  /* line 97, ../sass/modules/_index-block.sass */
  .index-block-subsection + .index-block-subsection .index-block-subsection-image {
    float: right;
    margin-right: 0;
    margin-left: 0.625rem;
  }
}
@media screen and (min-width: 54rem) {
  /* line 97, ../sass/modules/_index-block.sass */
  .index-block-subsection + .index-block-subsection .index-block-subsection-image {
    margin-left: 1.25rem;
  }
}

@media screen and (min-width: 36rem) {
  /* line 105, ../sass/modules/_index-block.sass */
  .index-block-subsection + .index-block-subsection .index-block-subsection-image-inner {
    margin-right: 0;
    margin-left: 0.625rem;
  }
}
@media screen and (min-width: 54rem) {
  /* line 105, ../sass/modules/_index-block.sass */
  .index-block-subsection + .index-block-subsection .index-block-subsection-image-inner {
    margin-left: 1.25rem;
  }
}

/* line 112, ../sass/modules/_index-block.sass */
.index-block-action {
  clear: both;
  position: relative;
  z-index: 100;
  margin: 5rem 0 0 0;
  font-size: 1.5em;
  text-align: center;
}

/* line 120, ../sass/modules/_index-block.sass */
.index-block-action:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  z-index: -10;
  width: 100%;
  height: 1px;
  background: #383445;
}

/* line 130, ../sass/modules/_index-block.sass */
.index-block-action a {
  background: #e2dfd4;
}

/* line 1, ../sass/modules/_site-content.sass */
.site-content {
  padding: 3.75rem 1.25rem;
}

@media screen and (min-width: 42rem) {
  /* line 4, ../sass/modules/_site-content.sass */
  .site-content-inner {
    margin: 0 auto;
    width: 42rem;
  }
}

/* line 9, ../sass/modules/_site-content.sass */
.page-index .site-content {
  padding: 0;
}

@media screen and (min-width: 42rem) {
  /* line 12, ../sass/modules/_site-content.sass */
  .page-index .site-content-inner {
    width: 100%;
  }
}

/* line 16, ../sass/modules/_site-content.sass */
.site-content form {
  margin-top: 3.75rem;
}

/* line 1, ../sass/modules/_form-meditation.sass */
.page-meditate form {
  position: relative;
  z-index: 10;
}

/* line 5, ../sass/modules/_form-meditation.sass */
.page-meditate .form-input {
  position: relative;
  z-index: 100;
  left: -0.625rem;
  width: 100%;
  margin: 1.25rem 0 0.625rem;
  padding: 0.3125rem 0.625rem;
  background: rgba(226, 223, 212, 0.2);
  border-radius: 0.25em;
}

/* line 15, ../sass/modules/_form-meditation.sass */
.page-meditate .form-input:hover {
  background: #e2dfd4;
  background: rgba(226, 223, 212, 0.8);
  box-shadow: 0 0 1px 1px #8c8255;
}

/* line 20, ../sass/modules/_form-meditation.sass */
.page-meditate select {
  -webkit-appearance: none;
  box-sizing: border-box;
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  padding: 0.3125rem 0.625rem;
  margin: -0.3125rem 0 0;
  text-align: right;
  direction: rtl;
  font-size: 1em;
  color: #463f61;
  background: none;
  border: none;
  border-radius: 0;
}

/* line 37, ../sass/modules/_form-meditation.sass */
.page-meditate select option {
  direction: ltr;
}

/* line 40, ../sass/modules/_form-meditation.sass */
.page-meditate select:hover {
  color: #746f88;
  cursor: pointer;
}

/* line 44, ../sass/modules/_form-meditation.sass */
.page-meditate .form-submit {
  position: relative;
  z-index: 20;
  margin-top: -3.75rem;
}

/* line 49, ../sass/modules/_form-meditation.sass */
.page-meditate .form-submit input {
  display: block;
  margin: 0 auto 0 auto;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}
@media screen and (min-width: 42rem) {
  /* line 49, ../sass/modules/_form-meditation.sass */
  .page-meditate .form-submit input {
    float: none;
  }
}

/* line 1, ../sass/modules/_meditation-timer.sass */
.modal-hidden {
  display: none;
}

/* line 4, ../sass/modules/_meditation-timer.sass */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: #383445;
}

/* line 13, ../sass/modules/_meditation-timer.sass */
.modal-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 18, ../sass/modules/_meditation-timer.sass */
.meditate-canvas {
  position: relative;
  margin: 0 auto;
}

/* line 22, ../sass/modules/_meditation-timer.sass */
.meditate-link {
  text-align: center;
}

/* line 25, ../sass/modules/_meditation-timer.sass */
.meditate-link a {
  clear: both;
  color: #e2dfd4;
  border-color: #e2dfd4;
}

/* line 30, ../sass/modules/_meditation-timer.sass */
.meditate-canvas + a:link {
  color: #e2dfd4;
  border-color: #e2dfd4;
}

/* line 1, ../sass/modules/_page-settings.sass */
.page-settings form img {
  margin: 0 0 1.25rem 0;
  width: 7rem;
}

/* line 1, ../sass/modules/_page-profile.sass */
.page-profile .site-content {
  padding: 0 0 3.75rem 0;
}

/* line 1, ../sass/modules/_page-header.sass */
.page-header {
  position: relative;
}

/* line 4, ../sass/modules/_page-header.sass */
.page-header-link {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 1, ../sass/modules/_profile-banner.sass */
.profile-banner {
  position: relative;
  margin: 0 0 2.5rem 0;
  background: #383445;
  border-bottom: 4px solid #383445;
}

/* line 7, ../sass/modules/_profile-banner.sass */
.profile-banner-banner img {
  width: 100%;
  height: auto;
}

/* line 11, ../sass/modules/_profile-banner.sass */
.profile-banner-profile {
  position: relative;
  z-index: 10;
  margin: -2.25rem 1.25rem -2.25rem 1.25rem;
  width: 7rem;
  height: 7rem;
  overflow: hidden;
  background: #383445;
  border: 4px solid #8c8254;
}

/* line 21, ../sass/modules/_profile-banner.sass */
.profile-banner-profile img {
  width: 100%;
  height: auto;
  margin: 0;
}

/* line 26, ../sass/modules/_profile-banner.sass */
.profile-banner-username {
  position: absolute;
  bottom: 1rem;
  left: 10rem;
  color: #e2dfd4;
}

/* line 32, ../sass/modules/_profile-banner.sass */
.profile-banner-level {
  position: absolute;
  bottom: 1rem;
  right: 1.25rem;
  color: #e2dfd4;
}

/* line 1, ../sass/modules/_profile-data-small.sass */
.profile-data-small {
  float: left;
  box-sizing: border-box;
  width: 50%;
  padding: 0 1.25rem 0 1.25rem;
  margin: 1.25rem 0 2.5rem;
  color: #e2dfd4;
}
@media screen and (min-width: 42rem) {
  /* line 1, ../sass/modules/_profile-data-small.sass */
  .profile-data-small {
    margin: 1.25rem 0 2.5rem;
    padding: 0;
  }
}

/* line 12, ../sass/modules/_profile-data-small.sass */
.profile-data-inner {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  background: #383445;
}

/* line 20, ../sass/modules/_profile-data-small.sass */
.profile-data-small h2 {
  padding: 1.25rem 0;
  margin: 0;
  line-height: 1em;
}

/* line 25, ../sass/modules/_profile-data-small.sass */
.profile-data-small-display {
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 100% 0;
  text-align: center;
  background: #746f88;
}

/* line 33, ../sass/modules/_profile-data-small.sass */
.profile-data-small-display > canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: #383445;
}

/* line 42, ../sass/modules/_profile-data-small.sass */
.profile-data-small-display > div {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(56, 52, 69, 0.8);
}

/* line 53, ../sass/modules/_profile-data-small.sass */
.profile-data-score {
  margin-top: 0.3125rem;
}
@media screen and (min-width: 24rem) {
  /* line 53, ../sass/modules/_profile-data-small.sass */
  .profile-data-score {
    margin-top: 30%;
  }
}

/* line 58, ../sass/modules/_profile-data-small.sass */
.profile-data-score > span {
  font-size: 2em;
  font-weight: bold;
}
@media screen and (min-width: 24rem) {
  /* line 58, ../sass/modules/_profile-data-small.sass */
  .profile-data-score > span {
    font-size: 3em;
  }
}
@media screen and (min-width: 36rem) {
  /* line 58, ../sass/modules/_profile-data-small.sass */
  .profile-data-score > span {
    font-size: 4em;
  }
}

/* line 66, ../sass/modules/_profile-data-small.sass */
.profile-data-description {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 1.25rem 1.25rem;
  font-size: 0.75em;
}
@media screen and (min-width: 24rem) {
  /* line 66, ../sass/modules/_profile-data-small.sass */
  .profile-data-description {
    font-size: 1em;
  }
}

/* line 75, ../sass/modules/_profile-data-small.sass */
#profile-momentum {
  padding-right: 0.625rem;
}
@media screen and (min-width: 42rem) {
  /* line 75, ../sass/modules/_profile-data-small.sass */
  #profile-momentum {
    padding-right: 1.25rem;
  }
}

/* line 80, ../sass/modules/_profile-data-small.sass */
#profile-stability {
  padding-left: 0.625rem;
}
@media screen and (min-width: 42rem) {
  /* line 80, ../sass/modules/_profile-data-small.sass */
  #profile-stability {
    padding-left: 1.25rem;
  }
}

/* line 85, ../sass/modules/_profile-data-small.sass */
#profile-momentum .profile-data-inner:hover,
#profile-stability .profile-data-inner:hover {
  cursor: pointer;
}

/* line 89, ../sass/modules/_profile-data-small.sass */
div.profile-data-inspect {
  position: absolute;
  bottom: 0.625rem;
  right: 0.625rem;
  z-index: 20;
  width: 1em;
  height: 1em;
  padding: 0.3125rem;
  color: #746f88;
  font-family: times, serif;
  font-style: italic;
  line-height: 1em;
  text-align: center;
  border: 1px solid #746f88;
  border-radius: 50%;
}
@media screen and (min-width: 24rem) {
  /* line 89, ../sass/modules/_profile-data-small.sass */
  div.profile-data-inspect {
    padding: 0.4375rem;
    font-size: 1.125em;
  }
}

/* line 108, ../sass/modules/_profile-data-small.sass */
.profile-data-inner:hover .profile-data-inspect,
div.profile-data-inspect:hover {
  cursor: pointer;
  color: #d0cfd7;
  background: #746f88;
  border: 1px solid #d0cfd7;
}

/* line 1, ../sass/modules/_profile-data-large.sass */
.profile-data-large {
  clear: both;
  box-sizing: border-box;
  float: left;
  width: 100%;
  padding: 0 1.25rem 0 1.25rem;
  margin: 0 0 2.5rem 0;
  color: #d0cfd7;
}
@media screen and (min-width: 42rem) {
  /* line 1, ../sass/modules/_profile-data-large.sass */
  .profile-data-large {
    padding: 0;
  }
}

/* line 12, ../sass/modules/_profile-data-large.sass */
.profile-data-large .profile-data-inner {
  padding: 0 0.625rem;
}

/* line 15, ../sass/modules/_profile-data-large.sass */
.profile-data-large h2,
.profile-data-large h3,
.profile-data-large p {
  margin: 1.25rem 0;
  line-height: 1em;
}

/* line 26, ../sass/modules/_profile-data-large.sass */
.profile-meditationtime-entry {
  float: left;
  box-sizing: border-box;
  width: 50%;
  margin: 0 0 1.25rem 0;
  padding: 0 0.625rem 0 0.625rem;
  text-align: center;
}

/* line 34, ../sass/modules/_profile-data-large.sass */
.profile-meditationtime-entry > div {
  width: 100%;
  padding: 0.625rem 0 0.625rem 0;
  background: #746f88;
}

/* line 39, ../sass/modules/_profile-data-large.sass */
.profile-meditationtime-header {
  font-size: 1em;
}
@media screen and (min-width: 30rem) {
  /* line 39, ../sass/modules/_profile-data-large.sass */
  .profile-meditationtime-header {
    font-size: 1.25em;
  }
}

/* line 44, ../sass/modules/_profile-data-large.sass */
.profile-meditationtime-hours {
  font-size: 1em;
}
@media screen and (min-width: 30rem) {
  /* line 44, ../sass/modules/_profile-data-large.sass */
  .profile-meditationtime-hours {
    font-size: 2em;
  }
}

/* line 50, ../sass/modules/_profile-data-large.sass */
#profile-data-timeline {
  padding: 0 0 2.5rem 0;
}

/* line 53, ../sass/modules/_profile-data-large.sass */
.profile-timeline-month {
  position: relative;
  height: 100%;
}

/* line 57, ../sass/modules/_profile-data-large.sass */
.profile-timeline-month-initial {
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
  border-top: 1px solid #746f88;
}

/* line 64, ../sass/modules/_profile-data-large.sass */
.profile-timeline-time {
  display: inline-block;
  width: 0.27322%;
  background: #746f88;
}

/* line 1, ../sass/modules/_journal.sass */
.page-journal .site-content {
  padding-left: 0;
  padding-right: 0;
}

/* line 5, ../sass/modules/_journal.sass */
.page-journal .page-header {
  margin: 0 1.25rem 5rem;
}

/* line 8, ../sass/modules/_journal.sass */
.page-journal .site-content-inner > h1,
.page-journal .site-content-inner > h1 + p {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

/* line 13, ../sass/modules/_journal.sass */
.page-journal form,
.page-journal .form-link-delete {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

/* line 18, ../sass/modules/_journal.sass */
.journal-month-banner {
  box-sizing: border-box;
  width: 100%;
  padding: 0.625rem 1.25rem;
  color: #d0cfd7;
  background: #383445;
}

/* line 25, ../sass/modules/_journal.sass */
.journal-month-banner-norun {
  margin: 0 0 1.25rem 0;
}

/* line 28, ../sass/modules/_journal.sass */
.journal-entry {
  margin: 0 1.25rem;
  border: 1px solid #383445;
  border-bottom: none;
}

/* line 33, ../sass/modules/_journal.sass */
.journal-entry-startofrun {
  margin-bottom: 1.25rem;
  border-bottom: 1px solid #383445;
}

/* line 37, ../sass/modules/_journal.sass */
.journal-entry a {
  display: block;
  padding: 0.625rem 1.25rem;
  background: white;
}

/* line 42, ../sass/modules/_journal.sass */
.journal-entry a:hover {
  color: #e2dfd4;
  background: #746f88;
}

/* line 46, ../sass/modules/_journal.sass */
.journal-entry-duration {
  float: right;
}

/* line 1, ../sass/modules/_site-footer.sass */
.site-footer {
  clear: both;
  padding: 0;
  background: #e2dfd4;
  border-top: 4px solid white;
}

@media screen and (min-width: 72rem) {
  /* line 7, ../sass/modules/_site-footer.sass */
  .site-footer-inner {
    margin: 0 auto;
    width: 72rem;
  }
}

/* line 12, ../sass/modules/_site-footer.sass */
.site-footer p {
  margin: 0;
  line-height: 1em;
}

/* line 16, ../sass/modules/_site-footer.sass */
.colophon {
  clear: both;
  position: relative;
  padding: 1.25rem;
}

/* line 21, ../sass/modules/_site-footer.sass */
.copyright {
  margin: 0;
}

/* line 1, ../sass/modules/_user-navigation.sass */
.container,
.user-navigation {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 100%;
  padding: 0;
}

/* line 10, ../sass/modules/_user-navigation.sass */
.container {
  background: #f4f4f4;
}

/* line 13, ../sass/modules/_user-navigation.sass */
.user-navigation {
  background: #383445;
}

/* line 16, ../sass/modules/_user-navigation.sass */
.user-navigation-inner {
  position: relative;
  padding: 0.3125rem 0;
}
@media screen and (min-width: 36rem) {
  /* line 16, ../sass/modules/_user-navigation.sass */
  .user-navigation-inner {
    margin: 0 auto;
    width: 36rem;
  }
}
@media screen and (min-width: 42rem) {
  /* line 16, ../sass/modules/_user-navigation.sass */
  .user-navigation-inner {
    width: 42rem;
  }
}
@media screen and (min-width: 48rem) {
  /* line 16, ../sass/modules/_user-navigation.sass */
  .user-navigation-inner {
    width: 27.125rem;
  }
}
@media screen and (min-width: 54rem) {
  /* line 16, ../sass/modules/_user-navigation.sass */
  .user-navigation-inner {
    width: 30.125rem;
  }
}

/* line 29, ../sass/modules/_user-navigation.sass */
.user-navigation img {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0;
  padding: 0;
}

/* line 35, ../sass/modules/_user-navigation.sass */
.user-navigation h3 {
  margin: 0.3125rem 0;
  padding: 0.625rem 1.25rem;
  color: #fff9e2;
  background: rgba(255, 249, 226, 0.1);
}

/* line 41, ../sass/modules/_user-navigation.sass */
.user-navigation li a {
  display: block;
  padding: 0.625rem 1.25rem;
  color: #fff9e2;
}

/* line 46, ../sass/modules/_user-navigation.sass */
.user-navigation li a:hover {
  background: rgba(255, 249, 226, 0.2);
  background: #746f88;
}

/* line 50, ../sass/modules/_user-navigation.sass */
.menu-close-link {
  display: block;
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  padding: 0.625rem;
  margin-top: 1px;
  line-height: 0;
  border: 1px solid transparent;
  border-radius: 0.25em;
}

/* line 61, ../sass/modules/_user-navigation.sass */
.menu-dismiss-link {
  position: relative;
  display: block;
  padding: 0.625rem 1.25rem 0.625rem 2.5rem;
  margin: 2.5rem 0.625rem 1.25rem 0.625rem;
  color: #fff9e2;
  border: 1px solid #fff9e2;
  border-radius: 0.25em;
}

/* line 70, ../sass/modules/_user-navigation.sass */
.menu-dismiss-link img {
  position: absolute;
  top: 0.75rem;
  left: 0.625rem;
}

/* line 75, ../sass/modules/_user-navigation.sass */
.menu-close-link:link,
.menu-dismiss-link:link,
.menu-close-link:visited,
.menu-dismiss-link:visited {
  color: #fff9e2;
}

/* line 81, ../sass/modules/_user-navigation.sass */
.menu-close-link:hover,
.menu-dismiss-link:hover {
  color: #e2dfd4;
  background: #746f88;
  border: 1px solid #d7cc9d;
}

/* line 88, ../sass/modules/_user-navigation.sass */
.user-navigation h3 img {
  float: left;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  margin: 1px 0.625rem 0 0;
}

@media all and (max-width: 36rem) {
  /* line 98, ../sass/modules/_user-navigation.sass */
  .cutsthemustard .container {
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
  }

  /* line 107, ../sass/modules/_user-navigation.sass */
  .cutsthemustard .user-navigation {
    width: 75%;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
  }

  /* line 114, ../sass/modules/_user-navigation.sass */
  .cutsthemustard .active .container {
    -webkit-transform: translateX(-75%);
    -ms-transform: translateX(-75%);
    transform: translateX(-75%);
  }
}
@media all and (min-width: 36rem) {
  /* line 122, ../sass/modules/_user-navigation.sass */
  .cutsthemustard .container {
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
  }

  /* line 129, ../sass/modules/_user-navigation.sass */
  .cutsthemustard .user-navigation {
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    opacity: 0;
  }

  /* line 139, ../sass/modules/_user-navigation.sass */
  .cutsthemustard .active .container {
    z-index: 0;
  }

  /* line 143, ../sass/modules/_user-navigation.sass */
  .cutsthemustard .active .user-navigation {
    opacity: 1;
  }
}
/* line 1, ../sass/modules/_footer-navigation.sass */
.footer-navigation {
  margin: 1.25rem 0 0 0;
  padding: 0 0 1.25rem 0;
  border-bottom: 1px solid #c5c0a9;
}
@media screen and (min-width: 36rem) {
  /* line 1, ../sass/modules/_footer-navigation.sass */
  .footer-navigation {
    float: left;
    width: 100%;
    margin: 0;
    padding: 1.25rem 0;
  }
}
@media screen and (min-width: 54rem) {
  /* line 1, ../sass/modules/_footer-navigation.sass */
  .footer-navigation {
    padding: 2.5rem 0;
  }
}

@media screen and (min-width: 36rem) {
  /* line 13, ../sass/modules/_footer-navigation.sass */
  .footer-navigation li {
    float: left;
  }
}

/* line 17, ../sass/modules/_footer-navigation.sass */
.footer-navigation a {
  display: block;
  padding: 0.3125rem 1.25rem;
}

/* line 21, ../sass/modules/_footer-navigation.sass */
.footer-navigation a:link,
.footer-navigation a:visited {
  color: #383445;
}

/* line 25, ../sass/modules/_footer-navigation.sass */
.footer-navigation a:hover {
  color: #e2dfd4;
  background: #746f88;
}

/* line 29, ../sass/modules/_footer-navigation.sass */
.footer-navigation-login {
  margin-top: 1.25rem;
}

/* line 32, ../sass/modules/_footer-navigation.sass */
.footer-navigation-login,
.footer-navigation-register {
  background: white;
  border-bottom: 1px solid #e2dfd4;
}
@media screen and (min-width: 36rem) {
  /* line 32, ../sass/modules/_footer-navigation.sass */
  .footer-navigation-login,
  .footer-navigation-register {
    margin-top: 0;
    margin-left: 0.625rem;
  }
}

/* line 1, ../sass/modules/_colophon-navigation.sass */
.colophon-navigation {
  position: absolute;
  top: 1.25rem;
  right: 0.625rem;
}

/* line 6, ../sass/modules/_colophon-navigation.sass */
.colophon-navigation li {
  float: left;
  position: relative;
  line-height: 1em;
  border-left: 1px solid #383445;
}

/* line 12, ../sass/modules/_colophon-navigation.sass */
.colophon-navigation li:first-child {
  border-left: none;
}

/* line 15, ../sass/modules/_colophon-navigation.sass */
.colophon-navigation a {
  padding: 0.625rem;
}
