.colophon-navigation
    position: absolute
    top: $margin
    right: $margin/2
    
.colophon-navigation li
    float: left
    position: relative
    line-height: 1em
    border-left: 1px solid $color-a0
    
.colophon-navigation li:first-child
    border-left: none
    
.colophon-navigation a
    padding: $margin/2