.logo
    position: relative
    padding: .05em 0 .05em 2.5rem + $margin/2
    color: $color-b2
    font-family: $font-title
    font-size: $font-size*1.5
    font-weight: $regular
    line-height: 1em
    text-transform: uppercase
    @media screen and (min-width: $break4)
        padding: 0 0 0 3rem + $margin/2
        font-size: $font-size*1.75

.logo img
    position: absolute
    top: -.5rem
    left: 0
    width: 2.5rem
    height: 2.5rem
    border-radius: 50%
    @media screen and (min-width: $break4)
        top: -.65rem
        width: 3rem
        height: 3rem
    
.logo a:hover img
    box-shadow: 0 0 1px transparentize( $color-b4, .3 )
        