.meditate-canvas
    position: relative
    margin: 0 auto

.meditate-link
    text-align: center
    
.meditate-link a
    clear: both
    color: $color-b4
    border-color: $color-b4
    
.meditate-canvas + a:link
    color: $color-b4
    border-color: $color-b4
 
.meditate-modal-img
    width: 7rem
    margin: $margin*3 auto $margin*1.5 auto
    padding: 0
    line-height: 1em
    text-align: center
    
.meditate-modal-img img
    width: 100%
    height: auto
    
.meditate-modal-p
    margin: 0 $margin
    text-align: center