.site-footer
    clear: both
    padding: 0
    background: $color-b4
    border-top: 4px solid $gray-5

.site-footer-inner
    @media screen and (min-width: $break10)
        margin: 0 auto
        width: $break10
        
.site-footer p
    margin: 0
    line-height: 1em
    
.colophon
    clear: both
    position: relative
    padding: $margin
    
.copyright
    margin: 0
    